.main
{
  display: flex;
  flex-direction: column;
}

.titulo
{
    padding-top: 4vh;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
}
.prod_barra
{
    display: flex;
    position: relative;
    bottom: 40px;
}
.box1
{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.box2
{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 20px;
}
.box3
{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.l_esq
{
    font-size: 12px;
    color: var(--c10, #1B1B1B);
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}
.filtro_b
{
    display: flex;
    padding: 10px;
    margin-left: 2vh;
    font-weight: bold;
    font-size: 16px;
    color: var(--c2, #F9F9F9);
    background: #1B1B1B;
    box-shadow: 8px 8px 0px 0px #BDBDBD;
    cursor: pointer;
    color: white;
    border: none;
    background-color: #1B1B1B;
    align-items: center;
    gap: 5px;
}
.tags
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.editar
{
    margin-top: 10vh;
    text-decoration: none;
}
.card_img 
{
    width: 360px;
    height: 360px;
}
.produtos 
{
  width: 1120px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}
.precos
{
    gap: 30px;
    display: flex;
    align-items: center;
}
.current_price
{
    font-size: 26px;
}
.old_price
{
    font-size: 15px;
    color: #808080;
    text-decoration: line-through;
}
.disponivel
{
    color: var(--c6, #808080);
}
.editar
{
    color: white;
    margin-top: 3vh;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: var(--c2, #f9f9f9);
    background: #1b1b1b;
    box-shadow: 8px 8px 0px 0px #bdbdbd;
}