.main
{
  display: flex;
  flex-direction: column;
}

.titulo
{
    padding-top: 4vh;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
}
.box1
{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.box3
{
    display: flex;
    gap: 100vh;
}
.l_esq
{
    font-size: 12px;
    color: var(--c10, #1B1B1B);
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}
.filtro_b
{
    margin-left: 2vh;
    font-weight: bold;
    font-size: 16px;
    color: var(--c2, #F9F9F9);
    background: #1B1B1B;
    box-shadow: 8px 8px 0px 0px #BDBDBD;
    cursor: pointer;
    color: white;
    border: none;
    background-color: #1B1B1B;
}
.tags
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.editar
{
    margin-top: 10vh;
}
.gridContainer 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}