.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-size: 59px;
}

.prod_barra {
  display: flex;
  position: relative;
  bottom: 40px;
}

.carVazio {
  font-size: 33px;
  font-weight: 700;
}

.letrasPeq {
  font-size: 14px;
}

.botao {
  width: 360px;
  height: 60px;
  margin-top: 3vh;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  background: #1b1b1b;
  box-shadow: 8px 8px 0px 0px #bdbdbd;
}

.areaPagina {
    display: flex;
    justify-content: space-between;
    min-width: 1120px;
}

.card_produtos {
  width: 645px;
  height: 170px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.atribsProduto {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.imgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 180px;
  height: 100%;
}

.infoCard .nomeProd {
  width: 297px;
  font-size: 20px;
  font-weight: 600;
  box-sizing: border-box;
}

.precos {
  width: 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currentPrice {
  font-size: 16px;
  font-weight: 400;
}

.oldPrice {
  font-size: 12px;
  font-weight: 400;
  color: #6b6b6b;
  text-decoration: line-through;
  margin-left: 2px;
}

.qtdRestante {
    font-size: 12px;
    font-weight: 500;
    color: #6B6B6B;
}

.qtdTamanho {
    display: flex;
    font-size: 10px;
}

.botoes {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.botao {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.infoCompra {
    width: 360px;
    height: 456px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .totalEFrete {
    width: 100%;
    height: 330px;
    box-sizing: border-box;
    border: solid 1px;    
    padding: 25px;
    margin-bottom: 15px;
  }

  .subtotal {
    font-size: 10px;
    font-weight: 400;
    padding-bottom: 15px;
  }

  .valorSubtotal {
    font-size: 24px;
    font-weight: 600;    
    padding-bottom: 15px;
  }

  .botaoComprar {
    padding-bottom: 35px;
  }

  .comprarAgora {
    background: black;
    color: white;
    font-weight: 600;
    font-size: 24px;
    border-radius: 0px;
    width: 100%;
    height: 60px;
  }  

  .calcFrete {
    font-size: 12px;
    font-weight: 500;
  }

  .freteInput {
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .freteTexto {
    height: 36px;
    width: 80%;
    box-sizing: border-box;
    font-weight: 700;
    padding-left: 10px;
  }

  .freteBtn {
    height: 36px;
    width: 36px;
    box-sizing: border-box;
  }

  .msgRodape {
    font-size: 12px;
    font-weight: 500;
  }

  .botoesCarrinho {
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .botaoContinuar {
    width: 100%;
    height: 60px;
    font-size: 24px;
    font-weight: 700;
    background: white;
    border: solid 1px;
    cursor: pointer;
  }

  .botaoLimpar {
    background: none;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    color: #6B6B6B;
    cursor: pointer;
  }