.main {
  display: flex;
  flex-direction: column;
}
.principal
{

  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.titulo {
  font-size: 94px;
}

@media (max-width: 1200px) {
  .titulo {
    font-size: 28px;
  }
}

.cbut {
  margin-top: 3vh;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  color: var(--c2, #f9f9f9);
  background: #1b1b1b;
  box-shadow: 8px 8px 0px 0px #bdbdbd;
}

.mainban {
  padding-top: 50px;
  width: 1310px;
  height: 738px;
}

@media (max-width: 1200px) {
  .mainban {
    width: 345px;
    height: 455px;
  }
}

.subtitulo {
  padding-top: 10vh;
  text-align: center;
  font-size: 29px;
  font-weight: 800;
}
.cardcolecao {
  display: flex;
  align-items: center;
  padding-left: 260px;
}

@media (max-width: 1200px) {
  .cardcolecao {
    flex-direction: column;
    justify-content: space-between;    
    padding-left: 0px;
  }

  .cardcolecao .imesq {
    width: 163px;
    height: 200px;
  }

  .cardcolecao .esquerda {
    width: 345px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }  

}

.imdi {
  width: 534px;
  height: 866px;
  margin-right: 250px;
}
.card_img 
{
  width: 360px;
  height: 360px;
}
.box3
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gridContainer 
{
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.outros_produtos
{
  display: flex;
  flex-direction: column;
}
.inf_prod
{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.precos
{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.ti
{
  font-weight: 700;
  font-size: 20px;
}
.prom
{
  font-size: 26px;
  font-weight: 400;
}
.antigo
{
  text-decoration-line: line-through;
  line-height: 26px;
  color: gray;
}
@media (max-width: 1200px) {
  .direita {
    width: 345px;
    height: 345px;
  }

  .imdi {
    width: 345px;
    height: 345px;
  }
}
.produtos {
  width: 1120px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

.card_produtos {
  width: 360px;
  height: 476px;
  padding-bottom: 20px;
}

.card_produtos .card_img {
  width: 100%;
  height: 360px;
}

.card_produtos .informacoes {
  height: 25%;
}

.card_produtos h2 {
  font-size: 20px;
  text-align: left;
}

.card_produtos .precos {
  width: 185px;
  height: 30px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card_produtos .current_price{
  font-size: 20px;
}

.card_produtos .old_price {
  font-size: 16px;
  color: #808080;
  text-decoration: line-through;
}

.card_produtos .disponivel {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  color: #808080;
}

@media (max-width: 1200px) {
  .produtos {
    width: 345px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
  
  .card_produtos {
    width: 165px;
    height: 226px;
    padding-bottom: 20px;
  }
  
  .card_produtos .card_img {
    width: 165px;
    height: 165px;
  }
  
  .card_produtos h2 {
    font-size: 10px;
    text-align: left;
  }
  
  .card_produtos .precos {
    width: 60%;
    height: 30%;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .card_produtos .current_price{
    font-size: 10px;
  }  
  
  .card_produtos .old_price {
    font-size: 8px;
    color: #808080;
    text-decoration: line-through;
  }
  
  .card_produtos .disponivel {
    text-align: left;
    font-weight: 500;
    font-size: 8px;
    color: #808080;
  }
}
