.main
{
  display: flex;
  flex-direction: column;
}

.principal
{
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.titulo
{
  font-size: 94px;
}
.cbut
{
  margin-top: 3vh;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  color: var(--c2, #F9F9F9);
  background: #1B1B1B;
  box-shadow: 8px 8px 0px 0px #BDBDBD;
}
.mainban
{
  padding-top: 50px;
}
.subtitulo
{
  padding-top: 10vh;
  text-align: center;
  font-size: 29px;
  font-weight: 800;
}
.cardcolecao
{
  display: flex;
  align-items: center;
  padding-left: 260px;
}
.imdi
{
  width: 534px;
  height: 866px;
  margin-right: 250px;
}
.outros_produtos
{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
