.main {
  display: flex;
  flex-direction: column;
}

.principal {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.titulo {
  font-size: 94px;
}

@media (max-width: 1200px) {
  .titulo {
    font-size: 28px;
  }
}

.cbut {
  margin-top: 3vh;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  color: var(--c2, #f9f9f9);
  background: #1b1b1b;
  box-shadow: 8px 8px 0px 0px #bdbdbd;
}

.mainban {
  padding-top: 50px;
  width: 1310px;
  height: 738px;
}

@media (max-width: 1200px) {
  .mainban {
    width: 345px;
    height: 455px;
  }
}

.subtitulo {
  padding-top: 10vh;
  text-align: center;
  font-size: 29px;
  font-weight: 800;
}
.cardcolecao {
  display: flex;
  align-items: center;
  padding-left: 260px;
}

@media (max-width: 1200px) {
  .cardcolecao {
    flex-direction: column;
    justify-content: space-between;    
    padding-left: 0px;
  }

  .cardcolecao .imesq {
    width: 163px;
    height: 200px;
  }

  .cardcolecao .esquerda {
    width: 345px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }  

}

.imdi {
  width: 534px;
  height: 866px;
  margin-right: 250px;
}

@media (max-width: 1200px) {
  .direita {
    width: 345px;
    height: 345px;
  }

  .imdi {
    width: 345px;
    height: 345px;
  }

}

.outros_produtos {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;  
}

/* Lembrete: Configurar dimensões
das imagens do componente em app/page.tsx */
